#rad{
		padding: 30px !important;
		border-radius: 50px;
		border: none;
		background-color: rgb(26, 26, 26);
		text-align: center;
		border: #ff4d52 solid 3px;
	}
	#rad2{
		padding: 30px !important;
		border-radius: 50px;
		border: none;
		background-color: rgb(26, 26, 26);
		text-align: center;
		border: #ff4d52 solid 3px;
	}
#rad:focus {
	background-color: #fff;
	border: none;
}

#rad2:focus {
	background-color: #fff;
	border: none;
}	
.primarybtn{
		background-color: #ff4d52;
		padding: 20px;
		color: white;
		width: 70%;
		border: none;
		border-radius: 50px;
	}
	.primarybtn:hover {
		border-radius: 50px;
		outline: 0px;
		background-color: #d20034;

	}



	.quizcontainer {
		border: black 1px solid;
		border-radius: 10px;
	}
	.num{
		background-color: black;
		border-radius: 50%;
		padding-left: 20px;
		padding-right: 20px;
		padding-top:15px;
		padding-bottom: 15px;
		color: white;
		margin-bottom: 5px;
	}
	.question{
		border: 1px solid black;
		padding: 5px;
		margin-top: 30px;
		margin-bottom: 20px;
	}